.flex-container {
    display: flex;
    flex-wrap: wrap;                   
    justify-content: space-between;    
    align-items: stretch;  
    border: 10px; 
    background-color: #08d9d6;            
                                            
  }
  
  .flex-item {
    flex-basis: 23%;                  
    background-color: #ccc;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .flex-item:nth-child(n+5) {
    margin-top: 10px;                  
  }
  