body{
    background-color: brown;
    color: cornsilk;
}
#three{
    color: darkblue;
}
button{
    border:none;
    background-color: darkblue;
    height: 50px;
    width: 90px;
    color: darkgray;
    font-size: 20px;
    border-radius: 30px;
    box-shadow: 4px 4px 10px black;

}