body{
    background-image: url("bg.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container{
    text-align: center;
    margin-top:90px;
}
table{
    margin: auto;
}
button{
    border-radius: 100%;
    font-size: 20px;
    height:65px;
    width: 65px;
    background-color:#1B1717;
    color:white;
    margin:2px;
    box-shadow: 2px 2px 9px 2px black;
    
}
button:hover{
    background-color: #F58634;
    color:black;
}
input{
    border-radius: 15px;
    font-size: 35px;
    height: 75px;
    width: 290px;
    margin:40px 20px 25px 20px;
    text-align:right;
    background-color: #83A95C;
    box-shadow:inset 0px 0px 4px -0.4px black;
   
}
.calc{
    display: inline-block;
    padding-bottom: 20px;
    border-radius: 30px;
    background-color:#92967D;
    box-shadow: inset 0px 0px 15px 3px black;
   
}
.operators{
    background-color: #3C415C;
    
}



